<vaadin-column-chart>
  <chart-title>German Population 2010</chart-title>
  <subtitle>Source: www.census.gov</subtitle>
  <x-axis type="category">
  </x-axis>
  <y-axis>
    <title>Population</title>
  </y-axis>
  <legend reversed="true"></legend>
  <tooltip point-format="<b>{series.name}, age {point.x}.</b><br/>
  Population: {point.y}"></tooltip>
  <data-series name="Male" [data]="maleData">
  </data-series>
  <data-series name="Female" [data]="femaleData">
  </data-series>
</vaadin-column-chart>
