<vaadin-bar-chart>
  <chart-title>German Population 2010</chart-title>
  <x-axis type="category">
  </x-axis>
  <y-axis>
    <title>Age Group</title>
  </y-axis>
  <legend reversed="true"></legend>
  <tooltip point-format="{series.name}: {point.y}. Total: {point.stackTotal}"></tooltip>
  <plot-options>
    <series stacking="percentage">
    </series>
  </plot-options>
  <data-series name="Male" [data]="maleData">
  </data-series>
  <data-series name="Female" [data]="femaleData">
  </data-series>
</vaadin-bar-chart>
